.container {
    display: grid;
    grid-template-areas:
      "menu header"
      "menu content"
      "menu detai_report";
    grid-template-columns: 0.5fr 3fr;
    gap: 5px;
    padding: 5px;
  }
  .container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
  }
  .container > div.menu {
    grid-area: menu;
    border: 1px solid #c3c3c3;
  }

  .menu > div {
    display: flex;
  }
  .menu > div > a {
    text-decoration: none;
    color: #818181;
    margin-left: 10px;
  }

  .container > .menu > a {
    display: block;
  }

  .group_icon_nav > div {
    margin-left: 10px;
  }
  .container > div.content {
    grid-area: content;
  }
  .container > div.detai_report {
    grid-area: detai_report;
  }